API_ID=29308061
API_HASH=462de3dfc98fd938ef9c6ee31a72d099
BOT_TOKEN=8054010855:AAHvLM7mX2ppUmg1MWwCwuWcpDAUJTR-y3c
LOGGER_ID=-1003523578876
MONGO_URL=mongodb+srv://Leo24567:king%12344@cluster0.gmgsbyc.mongodb.net/?appName=Cluster0
OWNER_ID=1232514672
SESSION=BQE1hZwALZkapneAWyZ5tMml2jFnzrIu4RaLt5mro0yEdzGvVhsi6DhJVqdlHTVpzGkZ7TxHtosVZ2ByLdB_j8-DPwniXkAFsCcOdAudsi2bX-bpBbobsnrzGpD1AV8o8FaIRFK0wrYPauQL9RwP1W5tKxcfAtlmj7wRduUHSujbFveaahwwG15cwE50kfCA2eFl0TqG5ChyuIPNKfpdZH3iMuNrbrSIzqcEyDsee-PmJLdNHuqYrZIkORWPnEjEt9wl8sOOOwxj-UsoHDzIcU808m7TM92gGBszSC1jMCLK426vn3jgOIR5MuIA0jIrRkOwcLEQsZ3O0Rh8_CnMAYVKoOBPVAAAAABzfNQIAA
SUPPORT_CHANNEL=https://t.me/Leo000079
SUPPORT_CHAT=https://t.me/+vETLp_vVrN5jZGFl
API_KEY=180DxNexGenBotsl8EE37
