API_ID=35292166
API_HASH=22fa5a676862ac3e775a060828923eab
BOT_TOKEN=7598626323:AAEL0M4fpd_HsfLC-Fls1o0sNSj16v9bYgI
LOGGER_ID=-1003909767502
MONGO_URL=mongodb+srv://Nextgen22222:Nextgen22222@cluster0.bqcsqrk.mongodb.net/?appName=Cluster0
OWNER_ID=8267731223
SESSION=AQIahAYAMd8tGTg-jP0N1NClwLeEsm_IHS0sfIx5xcZVq51D8_1Ni0x7M6Bt9Cmy4QWb6Po-1DaXsJHE-eV55xz8xWSSi7jcQWy8kXoN54d3qT2xxIGQmiJnWwfbvkzxlG0yO0WClEZsZs71vTlaeeJjzqEB1mwJU6nBQ4xcA1j_fcLY4nalDyVIwDnC4BWmwBPwrd4Os53Xayvc7hztYsfGDqb4JMAKcwUQqKPjEuda09edt-MtfoORwnLeL8UAv2FWyDwhVfWZNMc_vNiqKDYZcbEAVOJNd-KuX5niBBH47lktHWYzogM0jjPnnEp0IgwypY7TQy21GkpeoUpqpFxSzKLNsQAAAAIXP7SmAA
SUPPORT_CHANNEL=https://t.me/NextGenHQ
SUPPORT_CHAT=https://t.me/+yDxxraqdi884Zjkx
API_KEY=180DxNexGenBotsl8EE37
